*{
   font-family: 'Times New Roman', Times, serif;
   box-sizing: border-box;
}
body{
   padding: 0px;
   margin: 0px;
   flex-wrap: wrap;
}
h2{font-family: 'Times New Roman', serif;}

h3{font-family: 'Times New Roman', cursive;}

ul{
   margin: 0px;
   padding: 0px;
   text-align: center;
   min-width: 300px;
}

li{
   list-style: none;
   display: inline-block;
   margin: 0px;
   padding: 0px;
   vertical-align: top;
}

.btn{
   border-radius: 40px;
   border: solid 5px;
   padding: 10px 50px;
   color:white;
   text-decoration: none;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
}

.btn-vrd{
   background-color:#FBCE43;
   border-color:rgba(16, 148, 36, 0,5);
   transition: background-color 1s;
}
.btn-vrd:hover {
   background-color:#bcfbf0;
}

#receta-contenido #recetas-seccion{
   background-image: url(img/FondoP1.png);
   background-size: 100%;
   height: 100vh;
   padding: 20px;
}
#receta-contenido #logo{
  width: 129px;
  text-align: center;
}
#receta-contenido #logo #back{
   padding:20px 0px;
}
#receta-contenido #logo #back a{
   color:width;
   text-decoration: none;
}
#receta-contenido #logo #back a:hover{
  color:white;
   text-decoration: underline;
}
#receta-contenido #recetas-seccion #barra{
   text-align: center;
}

#receta-contenido #recetas-seccion #barra ul li{
   margin: 10px 50px;
   height: 214px;
   width: 195px;
   overflow:hidden;
   transition:all 1s;
}

#receta-contenido #recetas-seccion #barra ul li:hover{
   height:400px;
   margin-top: -10px;
}
#receta-contenido #recetas-seccion #barra ul li a{
   color:#71C5BB;
   text-decoration:none;
   height: 100px;
}
#receta-contenido #recetas-seccion #barra ul li:hover > div a h3{
  opacity: 1;
  margin-top: -10px;
  color: #FBCE43;
}

#receta-contenido #recetas-seccion #barra ul li h2{
   font-size: 50px;
}
#receta-contenido #recetas-seccion #barra ul li h3{
   font-size: 30px;
   opacity: 0;
   transition:all 1s;
   transition-delay: 0.1s;
}
/* Pie De Paguina*/

footer{
   width:100% ;
   background: #242527;
   color: white;
}














 
